name: OSV-Scanner

on:
  pull_request:
    branches: [main]
  merge_group:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  scan-pr:
    permissions:
      actions: read            # Required to upload SARIF file to CodeQL
      security-events: write   # Required for writing security events to upload
      contents: read           # Required for actions/checkout
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@c5996e0193a3df57d695c1b8a1dec2a4c62e8730" # v2.3.3
